MAILEROO_API_KEY=
MAILEROO_BASE_URL=https://smtp.maileroo.com/api/v2
MAILEROO_FROM=noreply@gitpier.com
MAILEROO_FROM_NAME=GitPier
JWT_SECRET= # openssl rand -hex 32
DATABASE_URL=postgres://postgres:admin123@localhost:5432/gitpier
WORKFLOW_WORKSPACE_PATH=../.data/workflow-workspaces
SYSTEM_ADMIN_PASSWORD= # Strong password
SSH_HOST_KEY_PATH=../.data/ssh_host_key
CORS_ORIGINS=http://localhost:5173
DOCKER_HOST= # empty = use locally
REDIS_URL=redis://localhost:6379
AVATARS_PATH=../.data/avatars
REPOS_PATH=../.data/repos
RESTRICT_REPO_CREATION=false
REPO_CREATION_ALLOWED_USERS= # comma-separated usernames, e.g. ge0rg3e,maintainer2
SELF_HOST_URL=https://github.com/gitpier/gitpier
DB_CONN_MAX_LIFETIME_MINUTES=5
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
SSH_PORT=2222
PORT=8080
