SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=noreply@gitpier.com
SMTP_FROM_NAME=GitPier
JWT_SECRET= # openssl rand -hex 32
DATABASE_URL=postgres://postgres:admin123@localhost:5432/gitpier
SYSTEM_ADMIN_PASSWORD= # Strong password
DOCKER_HOST= # empty = use locally
REDIS_URL=redis://localhost:6379
REPO_STORAGE_LIMIT_PUBLIC_MB=5120
REPO_STORAGE_LIMIT_PRIVATE_MB=5120
RESTRICT_REPO_CREATION=false
REPO_CREATION_ALLOWED_USERS= # comma-separated usernames, e.g. ge0rg3e,maintainer2
SELF_HOST_URL=https://github.com/gitpier/gitpier
DB_CONN_MAX_LIFETIME_MINUTES=5
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
SSH_PORT=2222
PORT=8080
